
body{
    background-color: rgb(255, 255, 255);
    color:rgb(41, 41, 41);
    font-family: 'Roboto Mono', monospace;
}

h1{
    margin-top: 50px;
    text-align: center;
    margin: 20px;
    margin-bottom:40px;
    color:rgb(0, 122, 102);
}

form {
    text-align: center;
}

th {
    font-weight: bold;
    color: rgb(52, 160, 124);
}

.tableFormat table{
    margin: 10px auto ;

}



.formField {
    margin-bottom: 60px;
}



